Repository salute-developers/plasma, pull requests merged in 2024-11, with the labels that each got.

#1522 feat(plasma-*, sdds-*): Add required functionality in Autocomplete
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop optional.snap.png
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop optional.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop required, requiredPlacement.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tokens.ts
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.types.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-web/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-insol/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.stories.tsx
Labels: plasma-components

#1527 feat(plasma-*, sdds-*): Add required functionality in Combobox
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop optional.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common disabled.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size l.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size m.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size s.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size xs.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- flow async items loading.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop isTargetAmount.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop listWidth, listHeight, listOverflow.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop optional.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop placement.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop renderItem.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop renderValue.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop variant.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-b2c/src/components/Combobox/Combobox.config.ts
  packages/plasma-b2c/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Target/Target.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-web/src/components/Combobox/Combobox.config.ts
  packages/plasma-web/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
  packages/sdds-cs/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Combobox/Combobox.config.ts
  packages/sdds-dfa/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Combobox/Combobox.config.ts
  packages/sdds-finportal/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Combobox/Combobox.config.ts
  packages/sdds-insol/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Combobox/Combobox.config.ts
  packages/sdds-serv/src/components/Combobox/Combobox.stories.tsx
Labels: plasma-components

#1535 fix(plasma-new-hope): Fix DatePickerRange grid type prop
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
Labels: changelog-skip

#1500 feat: add Badge & Tabs truncate props
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- truncate.snap.png
  cypress/snapshots/web/components/Badge/Badge.component-test.tsx/plasma-web Badge -- _view.snap.png
  cypress/snapshots/web/components/Tabs/Tabs.component-test.tsx/plasma-web Tabs -- item autoFocus.snap.png
  cypress/snapshots/web/components/Tabs/Tabs.component-test.tsx/plasma-web Tabs -- truncate.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- autoscroll.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/components/Badge/Badge.styles.ts
  packages/plasma-new-hope/src/components/Badge/Badge.tokens.ts
  packages/plasma-new-hope/src/components/Badge/Badge.tsx
  packages/plasma-new-hope/src/components/Badge/Badge.types.ts
  packages/plasma-new-hope/src/components/Tabs/TabItem.types.ts
  packages/plasma-new-hope/src/components/Tabs/tokens.ts
  packages/plasma-new-hope/src/components/Tabs/ui/horizontal/HorizontalTabItem/HorizontalTabItem.styles.ts
  packages/plasma-new-hope/src/components/Tabs/ui/horizontal/HorizontalTabItem/HorizontalTabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/vertical/VerticalTabItem/VerticalTabItem.styles.ts
  packages/plasma-new-hope/src/components/Tabs/ui/vertical/VerticalTabItem/VerticalTabItem.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Badge/Badge.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Badge/Badge.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
  packages/plasma-web/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-web/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/plasma-web/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Tabs/Tabs.stories.tsx
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Tabs/Tabs.stories.tsx
  packages/sdds-dfa/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-dfa/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Tabs/Tabs.stories.tsx
  packages/sdds-finportal/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-finportal/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Tabs/Tabs.stories.tsx
  packages/sdds-insol/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-insol/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Tabs/Tabs.stories.tsx
  packages/sdds-serv/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-serv/src/components/Tabs/vertical/VerticalTabItem.config.ts
Labels: plasma-components

#1549 plasma-infra: Deploy storybook build by draft
  .github/workflows/documentation-deploy-pr.yml
Labels: changelog-skip

#1557 fix(sdds-cs-docs): Edit docs components for correctly view
  website/sdds-cs-docs/docs/components/Cell.mdx
  website/sdds-cs-docs/docs/components/Chip.mdx
  website/sdds-cs-docs/docs/components/Mask.mdx
  website/sdds-cs-docs/docs/components/Toast.mdx
Labels: plasma-docs

#1524 [PLASMA-3849]: Работа с draft конфигурациями компонентов в `finportal-draft`
  packages/sdds-finportal/.gitignore
  packages/sdds-finportal/.storybook/main.ts
  packages/sdds-finportal/package.json
  packages/sdds-finportal/src/helpers/createComponentByConfig.ts
  packages/sdds-finportal/src/helpers/hasComponentDraftConfig.ts
Labels: changelog-skip

#1561 feat(plasma-*, sdds-*): Add required functionality in Select
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-b2c Select -- prop optional.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-b2c Select -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- prop optional.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- prop required, requiredPlacement.snap.png
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/sdds-cs/src/components/Select/Select.config.ts
  packages/sdds-cs/src/components/Select/Select.stories.tsx
  packages/sdds-dfa/src/components/Select/Select.config.ts
  packages/sdds-dfa/src/components/Select/Select.stories.tsx
  packages/sdds-finportal/src/components/Select/Select.config.ts
  packages/sdds-finportal/src/components/Select/Select.stories.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.config.ts
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.stories.tsx
Labels: plasma-components

#1575 plasma-infra: Handle build storybook draft component
  .github/workflows/documentation-deploy-pr.yml
Labels: changelog-skip

#1567 fix(sdds-cs): edit view negative in textarea sdds-cs
  packages/sdds-cs/src/components/TextArea/TextArea.config.tsx
Labels: plasma-components

#1573 fix(sdds-cs): Segment config edit
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Segment/Segment.stories.tsx
  packages/sdds-cs/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-cs/src/components/Segment/SegmentItem.config.ts
Labels: plasma-components

#1572 feat(plasma-new-hope): Add displaying date from min value in Calendar
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/store/reducer.ts
Labels: plasma-components

#1582 plasma-*: Add infinite Notification
  packages/plasma-new-hope/src/components/Notification/Notification.template-doc.mdx
  packages/plasma-new-hope/src/components/Notification/NotificationsStore.ts
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
  website/plasma-b2c-docs/docs/components/Notification.mdx
  website/plasma-web-docs/docs/components/Notification.mdx
  website/sdds-cs-docs/docs/components/Notification.mdx
  website/sdds-dfa-docs/docs/components/Notification.mdx
  website/sdds-insol-docs/docs/components/Notification.mdx
  website/sdds-serv-docs/docs/components/Notification.mdx
Labels: plasma-components

#1585 feat(plasma-new-hope): listHeight prop stands for a css maxHeight now
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.styles.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.styles.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-new-hope/src/components/Select/Select.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.types.ts
Labels: plasma-components

#1581 [PLASMA-3711]: Add draft config [Badge]
  packages/sdds-finportal/src/components/Badge/Badge.config.draft.ts
  packages/sdds-finportal/src/components/Badge/Badge.stories.tsx
Labels: changelog-skip

#1590 fix: TextArea auto scroll on focus
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
Labels: bugs

#1587 docs: Add validation examples docs
  scaffold/template-docs/docs/form/NativeForm.mdx
  scaffold/template-docs/docs/form/ReactHookForm.mdx
  website/plasma-b2c-docs/docs/form/NativeForm.mdx
  website/plasma-b2c-docs/docs/form/ReactHookForm.mdx
  website/plasma-web-docs/docs/form/NativeForm.mdx
  website/plasma-web-docs/docs/form/ReactHookForm.mdx
  website/sdds-cs-docs/docs/form/NativeForm.mdx
  website/sdds-cs-docs/docs/form/ReactHookForm.mdx
  website/sdds-dfa-docs/docs/form/NativeForm.mdx
  website/sdds-dfa-docs/docs/form/ReactHookForm.mdx
  website/sdds-insol-docs/docs/form/NativeForm.mdx
  website/sdds-insol-docs/docs/form/ReactHookForm.mdx
  website/sdds-serv-docs/docs/form/NativeForm.mdx
  website/sdds-serv-docs/docs/form/ReactHookForm.mdx
Labels: plasma-docs

#1593 fix: "RequiredProps" unions in TextField & TextArea
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _required -- _sizel.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _required -- _sizem.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _required -- _sizes.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _required -- _sizexs.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _required -- _sizel.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _required -- _sizem.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _required -- _sizes.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _required -- _sizexs.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-b2c/src/components/TextArea/index.ts
  packages/plasma-b2c/src/components/TextField/TextField.tsx
  packages/plasma-core/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-web/src/components/TextArea/index.ts
  packages/plasma-web/src/components/TextField/TextField.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Labels: bugs

#1586 feat(plasma-*, sdds-*): Position relative is set by default for target in Select, Combobox, Dropdown
  cypress/snapshots/b2c/components/Breadcrumbs/Breadcrumbs.update-test.component-test.tsx/plasma-b2c Breadcrumbs -- [PLASMA-T1169] Breadcrumbs customShorter.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop size, variant.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop size.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop size, variant.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop size.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setSelect.snap.png
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Dropdown/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Select/FloatingPopover.tsx
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-b2c-docs/docs/components/Dropdown.mdx
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Dropdown.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/sdds-cs-docs/docs/components/Combobox.mdx
  website/sdds-cs-docs/docs/components/Dropdown.mdx
  website/sdds-cs-docs/docs/components/Select.mdx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Dropdown.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Dropdown.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-serv-docs/docs/components/Combobox.mdx
  website/sdds-serv-docs/docs/components/Dropdown.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
Labels: plasma-components

#1591 docs(sdds-cs): Overwrite background-primary-token
  website/sdds-cs-docs/src/theme/Playground/index.tsx
Labels: changelog-skip

#1558 feat: add Modal designed body
  cypress/snapshots/b2c/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- hasBody hasClose.snap.png
  cypress/snapshots/b2c/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- hasBody.snap.png
  cypress/snapshots/b2c/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- withBlur.snap.png
  cypress/snapshots/web/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- hasBody hasClose.snap.png
  cypress/snapshots/web/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- hasBody.snap.png
  packages/plasma-b2c/src/components/ModalBase/Modal.config.ts
  packages/plasma-b2c/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-new-hope/src/components/Modal/Modal.styles.ts
  packages/plasma-new-hope/src/components/Modal/Modal.template-doc.mdx
  packages/plasma-new-hope/src/components/Modal/Modal.tokens.ts
  packages/plasma-new-hope/src/components/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Modal/Modal.types.ts
  packages/plasma-new-hope/src/components/Modal/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.stories.tsx
  packages/plasma-web/src/components/ModalBase/Modal.config.ts
  packages/plasma-web/src/components/ModalBase/ModalBase.component-test.tsx
  packages/plasma-web/src/components/ModalBase/ModalBase.stories.tsx
  packages/sdds-cs/src/components/Modal/Modal.config.ts
  packages/sdds-cs/src/components/Modal/Modal.stories.tsx
  packages/sdds-dfa/src/components/Modal/Modal.config.ts
  packages/sdds-dfa/src/components/Modal/Modal.stories.tsx
  packages/sdds-finportal/src/components/Modal/Modal.config.ts
  packages/sdds-finportal/src/components/Modal/Modal.stories.tsx
  packages/sdds-insol/src/components/Modal/Modal.config.ts
  packages/sdds-insol/src/components/Modal/Modal.stories.tsx
  packages/sdds-serv/src/components/Modal/Modal.config.ts
  packages/sdds-serv/src/components/Modal/Modal.stories.tsx
  website/plasma-b2c-docs/docs/components/ModalBase.mdx
  website/plasma-web-docs/docs/components/ModalBase.mdx
  website/sdds-cs-docs/docs/components/Modal.mdx
  website/sdds-dfa-docs/docs/components/Modal.mdx
  website/sdds-insol-docs/docs/components/Modal.mdx
  website/sdds-serv-docs/docs/components/Modal.mdx
Labels: plasma-components
