Repository salute-developers/plasma, pull requests merged in 2024-07, with the labels that each got.

#1278 plasma-infra: Simplify required checks
  .github/workflows/ci-lint.yml
  .github/workflows/ci-unit-tests.yml
  .github/workflows/typescript-coverage.yml
Labels: plasma-infra

#1275 plasma-infra(scaffold): Extend script for update/sync component list
  package.json
  scaffold/Readme.md
  scaffold/scaffold-components.js
Labels: plasma-infra

#1276 feat(plasma-new-hope): add emotion support
  .babelrc.js
  packages/caldera-online/api/caldera-online.api.md
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/.storybook/main.ts
  packages/plasma-new-hope/emotion/package.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/scripts/replace-linaria_emotion.sh
  packages/plasma-new-hope/scripts/replace-linaria_sc.sh
  packages/plasma-new-hope/src/engines/emotion.tsx
  packages/plasma-new-hope/src/engines/linaria.tsx
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Labels: plasma-infra

#1260 feat(plasma-new-hope): Added prop 'portal' into Dropdown component
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
  website/plasma-web-docs/docs/components/Dropdown.mdx
  website/sdds-serv-docs/docs/components/Dropdown.mdx
Labels: plasma-components

#1286 plasma-docs: hide short links for storybook
  website/plasma-ui-docs/src/components/Storybook.tsx
  website/plasma-web-docs/src/components/Storybook.tsx
Labels: plasma-docs

#1283 plasma-icons: Rewrite generate icons for iOS
  packages/plasma-icons/scripts/generateIconsIos.mjs
Labels: plasma-icons

#1294 plasma-icons: Changes execute order methods in compose
  packages/plasma-icons/scripts/utils.ts
Labels: changelog-skip

#1298 plasma-{b2c,web}: Fix vc cdn url
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/plasma-web/src/components/AudioPlayer/AudioPlayer.stories.tsx
  website/plasma-web-docs/docs/components/AudioPlayer.mdx
Labels: plasma-docs

#1304 plasma-website: Color palette [hotfix]
  website/plasma-website/components/palette/PaletteColorPage.tsx
  website/plasma-website/components/palette/PaletteItem.tsx
Labels: Hotfix, changelog-skip

#1303 feat(plasma-tokens): auto generate sdds_cs theme
  packages/plasma-tokens/data/themes/sdds_cs.json
  packages/plasma-tokens/src/brands/sdds_cs/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_cs__dark.ts
  packages/plasma-tokens/src/themes/sdds_cs__light.ts
Labels: changelog-skip

#1309 feat(sdds-themes): Add `sdds_cs` theme
  packages/themes/sdds-themes/README.md
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/src/css/sdds_cs.module.css
  packages/themes/sdds-themes/src/css/sdds_cs__dark.css
  packages/themes/sdds-themes/src/css/sdds_cs__light.css
  packages/themes/sdds-themes/src/themes/index.ts
  packages/themes/sdds-themes/src/themes/sdds_cs__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_cs__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_cs/index.ts
Labels: plasma-tokens

#1311 plasma-new-hope: forward styles and className to Tooltip root
  packages/plasma-new-hope/src/components/Tooltip/Tooltip.tsx
Labels: bugs

#1297 plasma-*: Fix width autoresize prop in textarea
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
Labels: bugs

#1314 Sdds-serv & sdds-dfa sync
  packages/sdds-dfa/src/components/Chip/Chip.config.tsx
  packages/sdds-dfa/src/components/Combobox/Combobox.config.ts
  packages/sdds-dfa/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-dfa/src/components/Modal/Modal.config.ts
  packages/sdds-dfa/src/components/Popover/Popover.config.ts
  packages/sdds-dfa/src/components/Popover/Popover.stories.tsx
  packages/sdds-dfa/src/components/Spinner/Spinner.stories.tsx
  packages/sdds-dfa/src/components/Tabs/TabItem.config.ts
  packages/sdds-dfa/src/components/Tabs/Tabs.config.ts
  packages/sdds-dfa/src/components/TextField/TextField.config.ts
  packages/sdds-dfa/src/components/Tooltip/Tooltip.config.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Accordion/Accordion.config.ts
  packages/sdds-serv/src/components/Accordion/Accordion.stories.tsx
  packages/sdds-serv/src/components/Accordion/Accordion.ts
  packages/sdds-serv/src/components/Accordion/index.ts
  packages/sdds-serv/src/components/ButtonBase/index.ts
  packages/sdds-serv/src/components/Calendar/Calendar.tsx
  packages/sdds-serv/src/components/Chip/Chip.config.tsx
  packages/sdds-serv/src/components/Combobox/Combobox.config.ts
  packages/sdds-serv/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-serv/src/components/Modal/Modal.config.ts
  packages/sdds-serv/src/components/Notification/Notification.config.ts
  packages/sdds-serv/src/components/Notification/Notification.stories.tsx
  packages/sdds-serv/src/components/Notification/Notification.tsx
  packages/sdds-serv/src/components/Notification/index.ts
  packages/sdds-serv/src/components/Popover/Popover.config.ts
  packages/sdds-serv/src/components/Popover/Popover.stories.tsx
  packages/sdds-serv/src/components/Skeleton/LineSkeleton.config.ts
  packages/sdds-serv/src/components/Skeleton/Skeleton.stories.tsx
  packages/sdds-serv/src/components/Skeleton/Skeleton.ts
  packages/sdds-serv/src/components/Skeleton/index.ts
  packages/sdds-serv/src/components/Spinner/Spinner.stories.tsx
  packages/sdds-serv/src/components/Tabs/TabItem.config.ts
  packages/sdds-serv/src/components/Tabs/Tabs.config.ts
  packages/sdds-serv/src/components/TextField/TextField.config.ts
  packages/sdds-serv/src/components/Tooltip/Tooltip.config.ts
  packages/sdds-serv/src/index.ts
  website/sdds-serv-docs/docs/components/Accordion.mdx
  website/sdds-serv-docs/docs/components/Notification.mdx
  website/sdds-serv-docs/docs/components/Skeleton.mdx
Labels: plasma-components

#1301 Add functional to accordion
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _size.snap.png
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _type.snap.png
  cypress/snapshots/web/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _size.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Accordion/Accordion.config.ts
  packages/plasma-b2c/src/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.types.ts
  packages/plasma-new-hope/src/components/Accordion/utils/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.stories.tsx
  packages/plasma-web/src/components/Accordion/Accordion.config.ts
Labels: plasma-components

#1322 feat(plasma-tokens): auto generate sdds_dfa theme
  packages/plasma-tokens/data/themes/sdds_dfa.json
  packages/plasma-tokens/src/brands/sdds_dfa/index.ts
  packages/plasma-tokens/src/themes/sdds_dfa__dark.ts
  packages/plasma-tokens/src/themes/sdds_dfa__light.ts
Labels: changelog-skip

#1324 sdds-dfa: Enable `surface-transparent` tokens
  packages/themes/sdds-themes/src/css/sdds_dfa.module.css
  packages/themes/sdds-themes/src/css/sdds_dfa__dark.css
  packages/themes/sdds-themes/src/css/sdds_dfa__light.css
  packages/themes/sdds-themes/src/themes/sdds_dfa__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_dfa__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_dfa/index.ts
Labels: changelog-skip, plasma-tokens
