Repository salute-developers/plasma, pull requests merged in 2024-06, with the labels that each got.

#1226 plasma-icons: Replace stroke value to "currentColor"
  packages/plasma-icons/scripts/utils.ts
Labels: plasma-icons

#1232 plasma-*: Edit docs core and change docs Switch, Checkbox and Radiobox
  packages/caldera-online/api/caldera-online.api.md
  packages/caldera-online/src/components/Switch/Switch.tsx
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-asdk/src/components/Switch/Switch.tsx
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Switch/Switch.tsx
  packages/plasma-new-hope/src/components/Switch/Switch.tsx
  packages/plasma-new-hope/src/components/Switch/Switch.types.ts
  packages/plasma-new-hope/src/components/Switch/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Switch/Switch.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Switch/Switch.tsx
  scaffold/template-docs/docusaurus.config.js
  utils/plasma-docs-ui/README.md
  utils/plasma-docs-ui/src/components/PropsTable.tsx
  utils/plasma-docs-ui/src/types/DocgenInfo.ts
  website/plasma-ui-docs/docusaurus.config.js
  website/plasma-ui-docs/src/components/PropsTable.tsx
  website/plasma-web-docs/docs/components/Checkbox.mdx
  website/plasma-web-docs/docs/components/Radiobox.mdx
  website/plasma-web-docs/docs/components/Switch.mdx
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-web-docs/src/components/PropsTable.tsx
  website/sdds-serv-docs/docs/components/Checkbox.mdx
  website/sdds-serv-docs/docs/components/Radiobox.mdx
  website/sdds-serv-docs/docs/components/Switch.mdx
  website/sdds-serv-docs/docusaurus.config.js
  website/sdds-serv-docs/src/components/PropsTable.tsx
Labels: plasma-docs

#1256 Edit carousel docs
  website/plasma-web-docs/docs/components/Carousel.mdx
Labels: plasma-docs

#1255 plasma-website: Delete unnecessary code
  website/plasma-website/components/roster/IconForm.tsx
  website/plasma-website/components/roster/index.ts
Labels: plasma-infra, changelog-skip

#1259 plasma-icons: handle all icons size [Android]
  packages/plasma-icons/scripts/generateAndroidArchive.ts
Labels: plasma-icons

#1267 (plasma-{new-hope, web}, sdds-serv): remove resize from docs
  packages/plasma-new-hope/src/components/TextArea/TextArea.template-doc.mdx
  website/plasma-web-docs/docs/components/TextArea.mdx
  website/sdds-serv-docs/docs/components/TextArea.mdx
Labels: plasma-docs, plasma-components
