Repository salute-developers/plasma, pull requests merged in 2024-04, with the labels that each got.

#1156 chore: Update code owners list
  CODEOWNERS
Labels: changelog-skip

#1157 fix(new-hope): Edit core and storybook
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- clickOnContent.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setInput.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setSelect.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- avrSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- maxSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _size.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _view.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _viewCurrentPage.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- default.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- type.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- clickOnContent.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setInput.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setSelect.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- avrSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- maxSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _size.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _view.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _viewCurrentPage.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- default.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- type.snap.png
  packages/plasma-b2c/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-b2c/src/components/Pagination/Pagination.config.ts
  packages/plasma-b2c/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Pagination/Pagination.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Pagination/Pagination.stories.tsx
  packages/plasma-web/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-web/src/components/Pagination/Pagination.config.ts
  packages/plasma-web/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.config.ts
  packages/sdds-serv/src/components/Pagination/Pagination.stories.tsx
Labels: Hotfix

#1154 fix(new-hope): Edit storybook content
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- clickOnContent.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setInput.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setSelect.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- avrSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- maxSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _size.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _view.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _viewCurrentPage.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- default.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- type.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- clickOnContent.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setInput.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setSelect.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- avrSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- maxSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _size.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _view.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _viewCurrentPage.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- default.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- type.snap.png
  packages/plasma-b2c/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-b2c/src/components/Pagination/Pagination.config.ts
  packages/plasma-b2c/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Pagination/Pagination.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Pagination/Pagination.stories.tsx
  packages/plasma-web/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-web/src/components/Pagination/Pagination.config.ts
  packages/plasma-web/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.config.ts
  packages/sdds-serv/src/components/Pagination/Pagination.stories.tsx
Labels: Hotfix

#1148 feat(new-hope): Add cell
  cypress/snapshots/b2c/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- _align.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- _size.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- default.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- simple.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.component-test.tsx/plasma-web Cell Styled -- _align.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.component-test.tsx/plasma-web Cell Styled -- default.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.component-test.tsx/plasma-web Cell Styled -- simple.snap.png
  cypress/snapshots/web/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- _align.snap.png
  cypress/snapshots/web/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- _size.snap.png
  cypress/snapshots/web/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- default.snap.png
  cypress/snapshots/web/components/Cell/Cell.component-test.tsx/plasma-new-hope Cell Styled -- simple.snap.png
  cypress/snapshots/web/components/Cell/Cell.component-test.tsx/plasma-web Cell Styled -- _align.snap.png
  cypress/snapshots/web/components/Cell/Cell.component-test.tsx/plasma-web Cell Styled -- default.snap.png
  cypress/snapshots/web/components/Cell/Cell.component-test.tsx/plasma-web Cell Styled -- simple.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Cell/Cell.config.ts
  packages/plasma-b2c/src/components/Cell/Cell.stories.tsx
  packages/plasma-b2c/src/components/Cell/Cell.ts
  packages/plasma-b2c/src/components/Cell/index.ts
  packages/plasma-new-hope/src/components/Cell/Cell.styles.ts
  packages/plasma-new-hope/src/components/Cell/Cell.tokens.ts
  packages/plasma-new-hope/src/components/Cell/Cell.tsx
  packages/plasma-new-hope/src/components/Cell/Cell.types.ts
  packages/plasma-new-hope/src/components/Cell/Textbox/Textbox.styles.ts
  packages/plasma-new-hope/src/components/Cell/Textbox/Textbox.tsx
  packages/plasma-new-hope/src/components/Cell/Textbox/Textbox.types.ts
  packages/plasma-new-hope/src/components/Cell/Textbox/ui/TextLabel.tsx
  packages/plasma-new-hope/src/components/Cell/Textbox/ui/TextSubtitle.tsx
  packages/plasma-new-hope/src/components/Cell/Textbox/ui/TextTitle.tsx
  packages/plasma-new-hope/src/components/Cell/index.ts
  packages/plasma-new-hope/src/components/Cell/ui/CellTextbox/CellTextbox.styles.ts
  packages/plasma-new-hope/src/components/Cell/ui/CellTextbox/CellTextbox.tsx
  packages/plasma-new-hope/src/components/Cell/ui/CellTextbox/CellTextbox.types.ts
  packages/plasma-new-hope/src/components/Cell/ui/CellTextboxLabel/CellTextboxLabel.styles.ts
  packages/plasma-new-hope/src/components/Cell/ui/CellTextboxLabel/CellTextboxLabel.tsx
  packages/plasma-new-hope/src/components/Cell/ui/CellTextboxSubtitle/CellTextboxSubtitle.styles.ts
  packages/plasma-new-hope/src/components/Cell/ui/CellTextboxSubtitle/CellTextboxSubtitle.tsx
  packages/plasma-new-hope/src/components/Cell/ui/CellTextboxTitle/CellTextboxTitle.styles.ts
  packages/plasma-new-hope/src/components/Cell/ui/CellTextboxTitle/CellTextboxTitle.tsx
  packages/plasma-new-hope/src/components/Cell/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Cell/Cell.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Cell/Cell.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Cell/Cell.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Cell/Cell.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Cell/Cell.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Cell/Cell.component-test.tsx
  packages/plasma-web/src/components/Cell/Cell.config.ts
  packages/plasma-web/src/components/Cell/Cell.stories.tsx
  packages/plasma-web/src/components/Cell/Cell.ts
  packages/plasma-web/src/components/Cell/index.ts
  website/plasma-web-docs/docs/components/Cell.mdx
Labels: plasma-components

#1168 fix(new-hope): Fix popup doc
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onChange.snap.png
  cypress/snapshots/web/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onChange.snap.png
  packages/plasma-hope/src/components/Editable/Editable.tsx
  website/plasma-web-docs/docs/components/PopupBase.mdx
Labels: bugs

#1173 plasma-docs(web-docs): Fix symlink for `_changelog.md`
  website/plasma-web-docs/docs/_changelog.md
Labels: plasma-docs, changelog-skip

#1169 fix(plasma-website): Fix Icons
  packages/plasma-new-hope/src/components/Cell/Cell.tsx
  website/plasma-website/components/roster/Grid.tsx
  website/plasma-website/components/roster/IconsList.tsx
Labels: bugs

#1161 feat(plasma-new-hope, b2c, web, sdds-serv): Select interlayer
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-b2c/src/components/Select/Select.perftest.tsx
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-b2c/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Combobox/Combobox.styles.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Popover/Popover.styles.ts
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
  packages/plasma-new-hope/src/components/Popover/Popover.types.ts
  packages/plasma-new-hope/src/components/Select/Select.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectTarget/SelectTarget.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Popover/Popover.stories.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/plasma-web/src/components/Select/Select.perftest.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/package.json
  packages/sdds-serv/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.ts
  packages/sdds-serv/src/components/Select/index.ts
  packages/sdds-serv/src/index.ts
  website/plasma-web-docs/docs/components/Select.mdx
  website/sdds-serv-docs/docs/components/Combobox.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
Labels: plasma-components

#1182 feat(plasma-new-hope, b2c, web, sdds): Fix storybook argTypes
  packages/plasma-b2c/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-b2c/src/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Divider/Divider.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.tsx
  packages/sdds-serv/src/components/TextField/TextField.stories.tsx
  packages/sdds-serv/src/components/Tooltip/Tooltip.stories.tsx
Labels: plasma-components

#1177 plasma-infra: Delete caldera package remains
  .eslintignore
  .github/processing-scope.js
  .prettierignore
  packages/caldera/CHANGELOG.md
Labels: plasma-infra, changelog-skip

#1187 fix(plasma-web): add default size to Textfield interlayer
  packages/plasma-web/src/components/TextField/TextField.tsx
Labels: changelog-skip

#1183 plasma-new-hope(Button): Add complex accessibility story
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
Labels: a11y, changelog-skip

#1190 plasma-infra: use styled-components@5.3.1
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/themes/caldera-online-themes/package-lock.json
  packages/themes/caldera-online-themes/package.json
  packages/themes/flamingo-themes/package-lock.json
  packages/themes/flamingo-themes/package.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package-lock.json
  packages/themes/sdds-themes/package.json
Labels: plasma-infra, changelog-skip

#1188 plasma-new-hope(radiobox): Improved a11y
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.stories.tsx
Labels: a11y, plasma-components
