Repository salute-developers/plasma, pull requests merged in 2024-12, with the labels that each got.

#1596 PLASMA-4067: Popup hydration issues [FIX]
  packages/plasma-new-hope/src/components/Popup/ClientOnlyPortal.tsx
  packages/plasma-new-hope/src/components/Popup/PopupContext.tsx
Labels: plasma-components

#1612 PLASMA-4091: fixed placement property description in Dropdown
  website/plasma-b2c-docs/docs/components/Dropdown.mdx
  website/plasma-web-docs/docs/components/Dropdown.mdx
  website/sdds-cs-docs/docs/components/Dropdown.mdx
  website/sdds-dfa-docs/docs/components/Dropdown.mdx
  website/sdds-insol-docs/docs/components/Dropdown.mdx
  website/sdds-serv-docs/docs/components/Dropdown.mdx
Labels: plasma-docs

#1613 PLASMA-3991: add beforeList and afterList props in Select
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-b2c Select -- prop afterList.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-b2c Select -- prop beforeList.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- prop afterList.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- prop beforeList.snap.png
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Labels: plasma-components

#1614 PLASMA-3996: fix keyboard interaction bug in Combobox
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/hooks/useKeyboardNavigation.ts
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
Labels: plasma-components

#1617 infra(new-hope): Fix storybook mapping [changelog-skip]
  packages/plasma-new-hope/.storybook/decoratorViewContainer.tsx
Labels: changelog-skip

#1631 PLASMA-4108: add zIndex prop in Dropdown, Select, Combobox
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-b2c/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-new-hope/src/components/Dropdown/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Select/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Labels: plasma-components

#1634 PLASMA-4114: fix renderValue prop in Select
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-b2c Select -- prop renderValue.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- prop renderValue.snap.png
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Labels: plasma-components

#1637 infra: Автоматическое создание Release LF JIRA TASK
  .github/workflows/create-release-pr.yml
Labels: changelog-skip

#1645 PLASMA-3992: beforeList & afterList in Select, Autocomplete, Combobox
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop afterList.snap.png
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop beforeList.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop afterList.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop beforeList.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop afterList.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop beforeList.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop afterList.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop beforeList.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop afterList.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop beforeList.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop afterList.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop beforeList.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-b2c/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.types.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Labels: plasma-components

#1490 refactor(plasma-new-hope): Remove old tokens from themes and update configs
  packages/plasma-new-hope/.storybook/preview-head.html
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Legacy/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/IconButton/IconButton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popup/Popup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Segment/SegmentGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Segment/SegmentItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Legacy/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/IconButton/IconButton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popup/Popup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Segment/SegmentGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Segment/SegmentItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.stories.tsx
Labels: changelog-skip

#1611 PLASMA-4007: TextField input width with textAfter
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/empty.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/empty.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _enumerationTypechip, _chipView, _chipValidator.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField keyboard navigation -- chips.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/empty.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/web/components/TextFieldGroup/TextFieldGroup.component-test.tsx/plasma-web TextFieldGroup -- _shape.snap.png
  packages/plasma-b2c/src/components/TextField/TextField.component-test.tsx
  packages/plasma-new-hope/src/components/NumberInput/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/getInputWidth.ts
  packages/plasma-new-hope/src/components/TextField/variations/_label-placement/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.config.ts
  packages/plasma-web/src/components/TextField/TextField.component-test.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.component-test.tsx
Labels: bugs

#1676 PLASMA-4175: Select behaviour improvement
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.types.ts
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Labels: plasma-components

#1689 hotfix: reverting exports prop from package.json due to ts overcomplexity
  packages/plasma-new-hope/package.json
  packages/sdds-cs/package.json
  packages/sdds-serv/package.json
Labels: Hotfix, changelog-skip
